.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

div {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

button.addToBanList {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

button.addToBanList:hover {
  background-color: #c82333;
}
